<table class="table table-striped">
    <thead class="bg-info">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mail</th>
        <th>No of Persons</th>
        <th>Gender</th>
        <th>City</th>
        <th>CheckIn</th>
        <th>CheckOut</th>
        <th>Cancel Bookings</th>
    </thead>
    <tr *ngFor="let history of bookingHistory" class="bg-light">
        <td>{{history.userFirstName}}</td>
        <td>{{history.userLastName}}</td>
        <td>{{history.userMail}}</td>
        <td>{{history.noPersons}}</td>
        <td>{{history.userGender}}</td>
        <td>{{history.userCity}}</td>
        <td>{{history.checkInDate}}</td>
        <td>{{history.checkOutDate}}</td>
        <td><button class="btn btn-danger" (click)="deleteBooking()">Cancel Booking</button></td>
    </tr>
</table>
<router-outlet></router-outlet>