h1{
    text-align: center;
    font-family: serif;
    color:black;
}
.text{
    font-size: larger;
    font-weight: normal;
    color:black;
}
p{
    position: fixed;
    margin-left: 150px;
}
.details{
    padding-bottom: 10px;
}
input.ng-touched.ng-invalid{
    border: 1px solid red;
}
hr{
   background-color: rgb(16, 111, 194);
}