<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 img-container" *ngFor="let item of foodItems">
            <div class="card p-3 mt-3">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="image">
                        <img [src]="item.itemImageUrl" alt="item.itemImageUrl">
                    </div>
                </div>
                <h4>{{item.itemName}}</h4>
                <p>Food item price:{{item.itemPrice}}$</p>
                <button class="btn btn-danger" (click)="onAddToCart(item)">Add to cart</button>
            </div>
        </div>
    </div>

</div>