<div class="container-fluid card hello p-2">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3 style="font-family:serif ;">Deluxe Rooms</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                Spacious Breezy Rooms Available On 2 / 3 / 4 Sharing Basis. The Rooms Are Aesthetically Designed To Make
                Your Stay Rejuvenating And Comfortable.
                Type of Room: Ac with Double Bed, AC with Single Bed, Non AC with Double Bed, Non AC with Single Bed
                Purpose: Business
                We are well known in hotel industry and a large experience we provides Air condition Room at a
                reasonable price.
            </p>
        </div>
        <div class="col-md-6">
            <img [src]="imageUrl" class="rounde" height="285" width="570" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <img [src]="imageUrl2" class="rounde" height="285" width="570" />
        </div>
        <div class="col-md-6">
            <p>
                Spacious Breezy Rooms Available On 2 / 3 / 4 Sharing Basis. The Rooms Are Aesthetically Designed To Make
                Your Stay Rejuvenating And Comfortable.
                Type of Room: Ac with Double Bed, AC with Single Bed, Non AC with Double Bed, Non AC with Single Bed
                Purpose: Business
                We are well known in hotel industry and a large experience we provides Air condition Room at a
                reasonable price.
            </p>
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <button class="btn btn-primary">book room</button>
                </div>
            </div>
        </div>
    </div>
</div>