<div class="container-fluid hello">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>Vehicles Parking</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <img [src]="imageUrl" class="rounde" height="280" width="600" />
        </div>
        <div class="col-md-6">
            <p>the parking system allows parking services to be used also by the public without limiting hotel guests in
                any way. The system is capable of monitoring the car park occupancy and, via the display placed at the
                entry, it can signalize the number of vacant parking spaces or to inform drivers about the car park
                situation via the vacant/occupied sign. The parking system can be interconnected with the hotel payment
                and booking system through a universal interface. </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <p>the parking system allows parking services to be used also by the public without limiting hotel guests in
                any way. The system is capable of monitoring the car park occupancy and, via the display placed at the
                entry, it can signalize the number of vacant parking spaces or to inform drivers about the car park
                situation via the vacant/occupied sign. The parking system can be interconnected with the hotel payment
                and booking system through a universal interface. </p>
        </div>
        <div class="col-md-6">
            <img [src]="imageUrl2" class="rounde" height="280" width="600" />
        </div>
    </div>
</div>