.buttons{
    text-align: center;
}
input.ng-touched.ng-invalid{
    border: 1px solid red;
}
.error{
    position: fixed;
    margin-left: 150px;
    margin-top: 0px;
}

input.ng-touched.ng-valid{
    border: 1px solid rgb(5, 243, 68);
}