<div class="card swim">
    <div class="card-header">
        <h3>Swimming pool</h3>
    </div>
    <div class="card-body image">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <p>Underwater Photos and Videos.
                        Light Up the Night. I really like the look of Tiki torches around the pool, or for more dramatic
                        flames, gas powered firebowls are all the rage now,
                        Add a Pool Slide.Light Up the Night. I really like the look of Tiki torches around the pool, or
                        for more dramatic
                        flames, gas powered firebowls are all the rage now,
                        Play Volleyball.</p>
                </div>
                <div class="col-md-6">
                    <img [src]="imageUrl" class="rounde" height="265" width="550" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <img [src]="imageUrl2" class="rounde" height="265" width="550" />
                </div>
                <div class="col-md-6">
                    <p>Underwater Photos and Videos.
                        Light Up the Night. I really like the look of Tiki torches around the pool, or for more dramatic
                        flames, gas powered firebowls are all the rage now,
                        Add a Pool Slide.Light Up the Night. I really like the look of Tiki torches around the pool, or
                        for more dramatic
                        flames, gas powered firebowls are all the rage now,
                        Play Volleyball.</p>
                </div>
            </div>
        </div>
    </div>
</div>