h3{
    font-family: serif;
}
.rounde{
    border-radius: 8px;
}
.image{
    background-image: url("../../../assets/images/room2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
}
p{
    font-family: serif;
    text-align: center;
    margin-top: 80px;
    font-size: larger;
}