<div class="card rounded">
  <div class="card-header font-weight-bold d-flex justify-content-between">
    <h2>Virtusa Canteen</h2>
  </div>
  <div class="card-body image">
    <h4 class="card-title">Welcome all for tasty & spicy food canteen!...</h4>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <p>Healthy food options include multigrain sandwiches, soups, pasta, curries, fruit salads and yoghurt.
            Snacks:fruit salads or whole fruit,reduced-fat yoghurt and fruit,air-popped popcorn (not cooked in oil)
            reduced-fat cheese with pita or wholemeal crackers,vegetable sticks with dip,boiled eggs, raisin or fruit
            bread.Healthy food options include multigrain sandwiches, soups, pasta, curries, fruit salads and yoghurt.
            Snacks:fruit salads or whole fruit,reduced-fat yoghurt and fruit,air-popped popcorn (not cooked in oil)
            reduced-fat cheese with pita or wholemeal crackers,vegetable sticks with dip,boiled eggs, raisin or fruit
            bread.
          </p>
         <p class="but">
          <button class="btn btn-primary">order food</button>
         </p>
        </div>
        <div class="col-md-8">
          <img [src]="imageUrl" [alt]="canteenImage" class="rounde img-responsive" height="460px" width="950px" />
        </div>
      </div>
    </div>
  </div>
</div>