<div class="container">
	<div class="row">
		<div class="col-md-3">

		</div>
		<div class="col-md-6 card mt-5">
			<h1>SignUp Here</h1>
			<hr>
			<div style="color : red" *ngIf='error'>{{error}}</div>
			<div style="color : green" *ngIf='success'>{{success}}</div>
			<form name='signupForm' (ngSubmit)="doSignup(f)" #f="ngForm">
				<div class="form-group">
					<label for="userName">user name</label>
					<input type="text" ngModel required #username="ngModel" name="username" id="userName" class="form-control">
					<p class="text-danger error"
                        *ngIf="!username.valid && username.touched">
                        *please enter username</p>
				</div>
				
				<div class="form-group">
					<label for="userMail">user mail</label>
					<input type="email" ngModel required #usermail="ngModel" name="usermail" id="userMail" class="form-control">
					<p class="text-danger error"
                        *ngIf="!usermail.valid && usermail.touched">
                        *please enter your mail</p>
				</div>
				<div class="form-group">
					<label for="password">password</label>
					<input type="password" ngModel required #password="ngModel" name="password" id="password" class="form-control">
					<p class="text-danger error"
                        *ngIf="!password.valid && password.touched">
                        *please enter password</p>
				</div>
			
				<div class="align">
					<button type="submit" class="btn btn-success mr-2">signUp</button>
					<button type="reset" class="btn btn-info">reset</button>
				</div>
				<hr>
				<label>Have account? <a routerLink="/log-in">Signin</a></label>
			</form>
		</div>
	</div>
</div>