p{
    margin: 0px;
}
.head{
    margin-right: 0px;
    margin-left: 0px;
    background-color: rgb(6, 6, 0);
    padding-top:10px;
    padding-bottom:5px;
}
ul{
    margin: 0px;
}
b{
    color:rgb(242, 245, 247);
}
