<nav class="navbar navbar-light bg-white">
    <form class="form-inline">
        <input class="form-control bg-light border-dark mr-sm-2" type="search" name="search" [(ngModel)]="searchText"
            placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-1 my-sm-0" type="submit">Search</button>
    </form>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</nav>
<table class="table table-hover">
    <thead class="bg-info">
        <th>Name</th>
        <th>Food items</th>
        <th>Total quantity</th>
        <th>Total price</th>
        <th>Credit card</th>
        <th>Ifsc</th>
    </thead>
    <tr *ngFor="let foodOrder of foodOrders | filter:searchText |  paginate:{itemsPerPage:9,currentPage:p};" class="bg-light">
        <td>{{foodOrder.username}}</td>
        <td>{{foodOrder.foodItems}}</td>
        <td>{{foodOrder.totalQuantity}}</td>
        <td>{{foodOrder.totalPrice}}</td>
        <td>{{foodOrder.creditCardNumber}}</td>
        <td>{{foodOrder.ifscCode}}</td>
    </tr>
</table>
