.btns{
    text-align: center;
    padding-bottom: 20px;
}
input.ng-touched.ng-invalid{
    border: 1px solid red;
}
p{
    position: fixed;
    margin-left: 150px;
    margin-top: -12px;
}
input.ng-touched.ng-valid{
    border: 1px solid rgb(7, 243, 30);
}
