<div class="container-fluid">
    <div class="row mt-4 text-center">

        <div class="col-md-1"></div>
        <div class="col-md-10 mt-5 titles">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="change">Welcome To Virtusa Hotel!...</h1>
                        <div>
                            <h1 class="change"><span class="change_content"></span></h1>
                        </div>
                        <br>
                        <br><br>
                        <button class="btn btn-success" (click)="onNavigate()">book now</button>
                        <div class="container-fluid mt-2">
                            <div class="row">
                                <div class="logo col-md-12 d-flex justify-content space-between">
                                    <img src="../assets/images/logo2.png" alt="" height="150px" width="130px">
                                    <div class="details mt-5">
                                        <h5>Contact details</h5>
                                        <p>Hotel Name:Virtusa Hotel</p>
                                        <p>Hotel website:<a href="">localhost:4200/virtusaHotelmanagementapp/home</a>
                                        </p>
                                        <p>Contact mail:virtusa@gamil.com</p>
                                        <p>Contact number:9639877418</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../assets/images/hotel.jpg" alt="" class="image" height="85%" width="105%">
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-1">

    </div>
    <div class="row mt-5 bg-dark text-light text-center cell">
        <div class="col-md-12 text">
        <p>All rights are reserved only for virtusa...</p>
        <p> these software is maintained by virtusa Hotel management team.<a href="#" style="color: blue;">Know
                More</a></p> 
         </div> 
    </div>
</div>
